// .grid-container {
//     display: grid;
//     grid-template-columns: auto auto auto auto;

#accordion {

    .links-title {
        font-family: 'Lato', 'sans-serif';
        font-weight: bold;
        letter-spacing: 1px;
        color: #4C4C4C;
    }

    .fa-chevron-down {
        color: #3277DD;
        float: right;
        padding: 10px;
    }

    .links-list {

        li {
            font-family: 'Lato', 'sans-serif';
            padding: 10px;
            
        }

        a {
            text-decoration: none;
            // color: #4C4C4C;
            color: #3277DD;
        }

        // a:hover {
        //     color: #3277DD;
        // }

        .more-link {
            color: #3277DD;
            font-size: .75rem;
        }
    }
}

#headingOne, #headingTwo, 
#headingThree,  #headingFour {
    cursor: pointer;
}