/* For mobile phones: */
@media only screen and (min-width: 400px) and (max-width: 1000px) {

    #navbarNav {
        height: 100vh;
    }

    .HomePageImgs {

        .homeSearchContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 50vh;        
        }

        .search-container{
            .CTA-Links {
                
    
                li {
                    font-size: 1rem;
                    padding: 13px 30px;
                }
    
                li:nth-of-type(4){
                    padding: 13px 14px;
                }
            }
    
            .searchForm {
                width: 100%;
    
    
                input[type=text] {
                    width: 100%;
                    font-size: 1rem;
                }
    
                .arrow-up {
                    position: absolute;
                    top: 215px;
                    left: 100px;
                    width: 0; 
                    height: 0;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 15px solid #fff;
                }
    
                .search-button {
                    display: none;
                }
    
                .fa-search {
                    display: block;
                    position: absolute;
                    right: 50px;
                    padding-top: 20px;
                    font-size: 2rem;
                    color: #4B8FE2;
                }
            }

        }

    }
    
    .banner h4 {
        margin: auto;
        font-size: 1rem;
    }

    .banner .get-started-Btn {
        margin: auto 10px;
        height: 50px;
    }

    // .grid-container {
    //     display: grid;
    //     grid-template-columns: auto auto;
    // }

    .footer-container, footer {
        height: 300px;
    }
  }
  
  @media only screen and (max-width: 768px) and (min-width: 670px) {
    /* For tablets: */
    .HomePageImgs .search-container .searchForm .search-button{
        position: absolute;
        top: 335px;
        right: 100px;
        width: 100px;
        padding: 15px 20px;
        border-radius: 8px;
        background: #4B8FE2;
        color: #fff;
        font-size: 1.2rem;
        
    }
    
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    
  }

  @media only screen and (max-width: 1250px) {
    .img-container {
        left: 80px;
    }

    #mainNav .navbar {
        margin-left: 150px;
    }
  }
