/* For mobile phones: */
@media only screen and (min-width: 400px) and (max-width: 1000px) {

    .bckImg {
        height: 500px;
    }

    .arrow-left {
        position: absolute;
        top: 15px;
        left: 5px;
        width: 0; 
        height: 0; 
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent; 
        border-right:8px solid #0074e4; 
    }

    .img-container {
        position: static;
        margin: 0 20px 0;
        padding: 5px 0;
        width: 35px;
        height: 35px;

        .desktop-logo {
            display: none;
        }

        .mobile-logo {
            display: block;
            position: static;
            top: 50px;
        }

        a {
            position: relative;
            left: 50px;
            bottom: 30px;
            color: #0074e4;
            font-family: 'Lato', sans-serif;
            display: inline;
            text-decoration: none;
        }
    }

    .navbar,.extra-links {
        li {
            display: none;
        }
    }

    .modal {
        height: 100vh;
        background: #fff;
        opacity: .9;

        .Dropdown-menu {
            height: 340px;
            box-shadow: 0 -3px 3px -3px #333;
            
            .Dropdown-list {
                border-top: 3px solid #0074e4;
                width: 250px;
                -webkit-box-shadow: 0px 3px 5px 0px rgba(217,217,217,1);
                -moz-box-shadow: 0px 3px 5px 0px rgba(217,217,217,1);
                box-shadow: 0px 3px 5px 0px rgba(217,217,217,1);
                opacity: 1.0;

                .CTA-links {
                    background: #fff;
                    padding: 12px 15px;
                    width: 220px;
                }
    
                li {
                    width: 220px;
                    padding: 15px 15px;
                    border-bottom: 1px solid gray;
                    background: #ECECEC;

                    .submenu-arrow {
                        float: right;
                        border-left: 1px solid #000;
                        border-bottom: 1px solid #000;
                        
                        padding: 0;
                        
                    }

                    .fa-chevron-down {
                        color: gray;
                        height: 30px;
                    }

                    a {
                        text-decoration: none;
                    }
                }

                .login-links {
                    font-display: 'Lato', sans-serif;
                    
                }

                .advertise-link {
                    float: right;
                    font-display: 'Lato', sans-serif;
                }
            }
        }

    }

    .HomePageImgs {

        .search-container{
            .CTA-Links {
                
    
                li {
                    font-size: 1rem;
                    padding: 13px 30px;
                }
    
                li:nth-of-type(4){
                    padding: 13px 14px;
                }
            }
    
            .searchForm {
                width: 100%;
    
    
                input[type=text] {
                    width: 100%;
                    font-size: 1rem;
                }
    
                .arrow-up {
                    position: absolute;
                    top: 215px;
                    left: 100px;
                    width: 0; 
                    height: 0;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 15px solid #fff;
                }
    
                .search-button {
                    display: none;
                }
    
                .fa-search {
                    display: block;
                    position: absolute;
                    right: 50px;
                    padding-top: 20px;
                    font-size: 2rem;
                    color: #4B8FE2;
                }
            }
    
            // .banner {
            //     display: none;
            // }

        }

    }
    
    .banner h4 {
        margin: auto;
        font-size: 1rem;
    }

    .banner .get-started-Btn {
        margin: auto 10px;
        height: 50px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
    }

    .footer-container, footer {
        height: 300px;
    }
  }
  
  @media only screen and (max-width: 768px) and (min-width: 670px) {
    /* For tablets: */
    .HomePageImgs .search-container .searchForm .search-button{
        position: absolute;
        top: 335px;
        right: 100px;
        width: 100px;
        padding: 15px 20px;
        border-radius: 8px;
        background: #4B8FE2;
        color: #fff;
        font-size: 1.2rem;
        
    }
    
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    
  }

  @media only screen and (max-width: 1250px) {
    .img-container {
        left: 80px;
    }

    #mainNav .navbar {
        margin-left: 150px;
    }
  }

//   @media only screen and (max-width: 1100px) and (min-width: 1000px) {
//     .HomePageImgs .search-container .searchForm .search-button {
//         top: 205px ;
//         right: 250px;
//     } 
//   }

//   @media only screen and (max-width: 1200px) and (min-width: 1101px) {
//     .HomePageImgs .search-container .searchForm .search-button {
//         top: 205px ;
//         right: 250px;
//     } 
//   }

//   @media only screen and (max-width: 1450px) and (min-width: 1201px) {
//     .HomePageImgs .search-container .searchForm .search-button {
//         top: 205px ;
//         right: 250px;
//     } 
//   }
